@model List<EMPLOYEE_DEFINITION>
@{
    Layout = "~/Views/Stock/EmployeeDefinition/_LayoutEmployeeDefinition.cshtml";
    ViewData["Title"] = "EmployeeDefinition";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
 

                <div class="row">
                     <form asp-action="Add" method="post">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="col-md-12"><label>PERSONEL TANIMLARI</label></div>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                               

                                    <div class="col-md-12">
                                        <div class="row mt-2">
                                            <div class="col-md-2">
                                                <label for="PERSONEL_ISIM_LBL">Personel İsim :</label>
                                            </div>
                                            <div class="col-md-4 text-start">
                                                <input class="form-control " name="PERSONEL_ISIM" type="text">
                                            </div>



                                        </div>

                                    </div>


                                    <div class="col-md-12">
                                        <div class="row mt-2">
                                            <div class="col-md-2">
                                                <label for="ADRES_LBL">Adres :</label>
                                            </div>
                                            <div class="col-md-4 text-start">
                                                <input class="form-control " name="ADRES" type="text">
                                            </div>



                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="row mt-2">
                                            <div class="col-md-2">
                                                <label for="POSTA_KODU_LBL">Posta Kodu :</label>
                                            </div>
                                            <div class="col-md-2 text-start">
                                                <input class="form-control " name="POSTA_KODU" type="text">
                                            </div>





                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="row mt-2">
                                            <div class="col-md-2">
                                                <label for="GSM_NO_LBL">GSM No :</label>
                                            </div>
                                            <div class="col-md-4 text-start">
                                                <input class="form-control " name="GSM" type="text">
                                            </div>





                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="row mt-2">
                                            <div class="col-md-2">
                                                <label for="EPOSTA_LBL">E-posta :</label>
                                            </div>
                                            <div class="col-md-4 text-start">
                                                <input class="form-control " name="E_POSTA" type="text">
                                            </div>





                                        </div>
                                    </div>
                             

                                </div>
                            </div>
                        </div>

                    </div>
                    <button type="submit">Ekle</button>

           
                </form>
                </div>
            <div class="row mt-3">
                <div class="col">

                      @if (Model != null && Model.Count > 0)
                    {
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Personel İsim </th>
                                    <th scope="col">Adres</th>
                                    <th scope="col">Posta Kodu</th>
                                    <th scope="col">GSM No </th>
                                    <th scope="col">E-posta</th>

                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <th scope="row">@item.Id</th>
                                        <td>@item.PERSONEL_ISIM</td>
                                        <td>@item.ADRES</td>
                                        <td>@item.POSTA_KODU</td>
                                        <td>@item.GSM</td>
                                        <td>@item.E_POSTA</td>

                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                    else
                    {
                        <p>Kayıt bulunamadı.</p>
                    }

                </div>
            </div>
       
        </div>
    </div>
</div>


