@{
    Layout = "~/Views/Stock/StockCardRecords/_LayoutStockCardRecords.cshtml";
    ViewData["Title"] = "Price";
}
@model dynamic

<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="row">
                <div class="col-md-12">
                    <h5>Stock Bilgisi Listesi</h5>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                  
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Stok Kodu</th>
                                <th scope="col">Stok Adı</th>
                                <th scope="col">İşlem</th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <th scope="row">@item.Id</th>
                                   
                                    <td>@item.STOK_KOD</td>
                                    <td>@item.STOK_ADI</td>
                                    <td>
                              
                                            <a href="#" data-id="@item.Id" onclick="editStokKart(@item.Id)">
                                                <i class="fas fa-edit"></i>
                                            </a>
                                    </td>
                                     
                                </tr>
                            }

                        </tbody>
                    </table>
                    <form method="post" id="stokKartForm">
                        <input type="hidden" value="" name="id" />
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <form asp-action="Add" method="post">
                        <label for="STOK_KODU" class="form-label" />
                        <input type="text" name="STOK_KODU" class="form-control" />
                        <label for="STOK_ADI" class="form-label" />
                        <input type="text" name="STOK_ADI" class="form-control" />
                        <button type="submit">Ekle</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

 <script>


    function editStokKart(id) {

        $("#stokKartForm input[name=id]").attr("value", id)
       
        $("#stokKartForm").attr("action", "/Stock/StockCard1").submit();


    }

</script>